* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff135;
    transition: all .3s ease;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 35rem;
    transition: all .3s ease-in;
}

@media screen and (max-width: 600px) {
    .image {
        max-width: 25rem;
    }
}

.shake {
    animation: shake .5s 1;
}

.shake:active {
    animation: shake .5s 1;
}

.image:active {
    transform: scale(1.3);
}

.clicks {
    color: #333;
    font-size: 3rem;
    font-family: 'Bangers', cursive;
}

.btn {
    margin-top: 40px;
    outline: none;
    border: none;
    padding: 15px 50px;
    background-color: #ff1363;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in;
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(1.1);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
    /* 0% {
        transform: translate(-30px, 15px) rotate(-10deg);
    }

    50% {
        transform: translate(30px, -20px) rotate(10deg);
    }

    100% {
        transform: translate(0,0) rotate(0deg);
    } */
}

